<html>

<head>
    <title>Reece AWS CodeBuild-Jenkins-CodeDeploy</title>
    <style>
        body {
            text-align: center;
        }

        h1 {

            font-weight: bold;
            color: #ff9900;
            font-size: 2.5em;
        }
    </style>

</head>

<body>
    {% block body %}{% endblock %}

</body>

</html>
